extends layout.pug

block content
  .container.mt-3
    .row.header
      .col-8.text-left
        h4.date.text-secondary
          = date
        h2.date-title
          | Сегодня
      .col-4.text-right.user
        a.btn.btn-outline-dark.rounded-circle(href='/profile', title=`Профиль: ${user.local.email}`) 
          i.far.fa-user
    hr
    .row.mt-3
      .col-12.col-sm-10.col-md-8.col-lg-6.mx-auto
        .tasks
          - if (tasks.length === 0)
            p.text-center.text-secondary.font-weight-light
              | У вас нет заданий.
          - else
            each task in tasks
              .task.shadow-sm.rounded(class= task.done ? "done" : undefined)
                p.task-obj=task.objective
                p.task-desc=task.description
                p.task-date
                  = `${task.createdAt.getDate()}/${task.createdAt.getMonth()}/${task.createdAt.getFullYear()}`
                .row
                  .col-6.text-left
                    form(action="/done",method="post")
                      input(type="hidden", name="taskId", value=`${task._id}`)
                      button.done-btn(type='submit') Отметить