extends layout.pug

block content
  .container.mt-3
    .row.header
      .col-8.text-left
        h4.date.text-secondary
          = currentUser.local.email
        h2.date-title
          = currentUser.local.name
      .col-4.text-right.user
        - if (String(currentUser._id) === String(user._id))
          a.btn.btn-outline-dark.rounded-circle(href='/profile', title=`Профиль: ${user.local.email}`) 
            i.far.fa-user
        - else
          a.btn.btn-outline-dark.rounded-pill(href=`mailto:${currentUser.local.email}`, title='Написать сотруднику') 
            i.far.fa-envelope
          form(action="/profile",method="post")
            input(type="hidden", name="userId", value=`${currentUser._id}`)
            button.btn.btn-outline-danger.rounded-pill.ml-2(type='submit', title='Удалить сотрудника') 
              i.fas.fa-trash
    hr
    .row.mt-3
      .col-12.col-sm-10.col-md-8.col-lg-6.mx-auto
        .tasks
          - if (tasks.length === 0)
            p.text-center.text-secondary.font-weight-light
              | У сотрудника нет заданий.
          - else
            each task in tasks
              .task.shadow-sm.rounded(class= task.done ? "done" : undefined)
                p.task-obj=task.objective
                p.task-desc=task.description
                p.task-date
                  = `${task.createdAt.getDate()}/${task.createdAt.getMonth()}/${task.createdAt.getFullYear()}`
                .row
                  .col-6.text-left
                    form(action="/done",method="post")
                      input(type="hidden", name="taskId", value=`${task._id}`)
                      button.done-btn(type='submit') Отметить
                  .col-6.text-right
                    form(action="/del",method="post")
                      input(type="hidden", name="taskId", value=`${task._id}`)
                      button.delete-btn(type='submit') Удалить
                //- a.done-btn(href=`/tasks/${task._id}?_method=PUT`) Отметить
                //- a.delete-btn(href=`/tasks/${task._id}?_method=DELETE`) Удалить
          .form-task.text-center
            form(action="", method="post")
              input.form-control(type="text", name="objective", placeholder="Задача" required)
              br
              input.form-control(type="text", name="description", placeholder="Описание")
              br
              input(type="hidden", name="userId", value=`${currentUser._id}`)
              button.btn.btn-outline-dark(type='submit') Добавить